{% extends 'inicio.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block body%}

    
    
    <div id=""  >
        <div class="form-Hero" id="funciona" >
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="login-form" >
                            <h2>Heros</h2>
                            <form action="#" method="POST" enctype="multipart/form-data" >
                                <div class="group-input">
                                    {% csrf_token %}
                                                    
                                    {{form.as_p}}
                                </div>
                                
                            <button type="submit">Upload</button> 
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
   