{% extends 'inicio.html' %}
{% load static %}
{% load fontawesome_5 %}

{% block body %}
<button id="formulario-hero" class="primary-btn">Agregar Promo</button>
{% block promoform %}
<div id="desplegar-form">
    <div class="form-Hero" id="funciona">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Heros</h2>
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <div class="group-input">
                                {% csrf_token %}

                                {{form.as_p}}

                            </div>

                            <button type="submit">Upload</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<button id="formulario-banner" class="primary-btn">Agregar Banner</button>

<div id="banner">
    <div class="form-Hero" id="funciona">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Heros</h2>
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <div class="group-input">
                                {% csrf_token %}

                                {{banner.as_p}}

                            </div>

                            <button type="submit">Upload</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="formulario-aside" class="primary-btn">Agregar Seccion</button>

<div id="desplegar-form-aside">
    <div class="form-ero" id="funciona">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Heros</h2>
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <div class="group-input">
                                {% csrf_token %}

                                {{asideForm.as_p}}

                            </div>

                            <button type="submit">Guardar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="inventario-clothes" class="primary-btn">Inventario</button>

<div id="inventario-css">
    <div>
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Inventario</h2>
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <div class="group-input">
                                {% csrf_token %}

                                {{cat.as_p}}

                            </div>

                            <button type="submit">Guardar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="cate" class="primary-btn">Categorias</button>
<section id="categor" class="ropita">
    <div>
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Categorias</h2>
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <div class="group-input">
                                {% csrf_token %}

                                {{categories.as_p}}

                            </div>

                            <button type="submit">Guardar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

        <table>
            <tr>
                <th>nombre</th>
                <th>Opciones</th>
            </tr>
            {% for j in category %}
            <tr>
                <td>{{j.name}}</td>
                <td><a href="{% url 'principal:eliminarCat' j.name %}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>

</section>



<button id="public" class="primary-btn">Publico</button>
<section id="publico" class="ropita">
    <div>
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Publico</h2>
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <div class="group-input">
                                {% csrf_token %}

                                {{publico.as_p}}

                            </div>

                            <button type="submit">Guardar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

        <table>
            <tr>
                <th>Publico</th>
                <th>Opciones</th>
            </tr>
            {% for j in public %}
            <tr>
                <td>{{j.publico}}</td>
                <td><a href="{% url 'principal:eliminarPublico' j.publico %}">Eliminar</a></td>
            </tr>
        </table>
        {% endfor %}
    </div>

</section>
<section class="hero-section">
    
    <div class="hero-items owl-carousel">
       
        {% for img in images %}
        <div class="single-hero-items set-bg" data-setbg="{{ img.image.url}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>{{img.arts}}</span>
                        <h1>{{ img.name}}</h1>
                        <p>{{ img.description}}</p>

                        <!-- <a href="#" class="primary-btn">{{img.link}}</a> -->
                        {% block url %}
                        <a href="{% url 'principal:cambios' img.id %}" class="primary-btn"></i>Cambiar Promo</a>
                        <a href="{% url 'principal:eliminar' img.id %}" class="primary-btn"></i>Eliminar Promo</a>
                        {% endblock url %}
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>{{img.descuento}}%</span></h2>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
</section>
<div class="banner-section spad">
        
    <div class="container-fluid">
       
        <div class="row">
            {% for ban in banners %}
            <div class="col-lg-4">
                <div class="single-banner">
                    
                    <img src=" {{ ban.image.url}}" alt="">
                    
                    <div class="inner-text change">
                        <h4>{{ban.nombre}}’s</h4>
                        <p> <a href="{% url 'principal:banner' ban.id %}" class="change"><i class="fas fa-pen"></i></a></p>
                        <p><a href="{% url 'principal:eliminarBanner' ban.id %}" class="change"><i class="fas fa-trash-alt"></i></a></p>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            {% for asides in aside %}
            <div class="col-lg-3">
                
                <div class="product-large set-bg" data-setbg="{{ asides.image.url }}">
                    <h2>{{ asides.nombre}}</h2>
                    <a href="#">{{asides.frase}}</a>
                   <a href="{% url 'principal:cambiosAside' asides.id %}"><i class="fas fa-pen"></i></a>
                </div>
               
            </div>
           
            {% endfor %}
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li id="ropajs" class="clothe active">Clothings</li>
                        <li id="carterajs" class="bag">HandBag</li>
                        <li id="zapasjs" class="shoe">Shoes</li>
                        <li id="accjs" class="accesory">Accessories</li>
                    </ul>
                </div>
               
                <div id="ropa" class="product-slider owl-carousel">
                    {% for i in clothe %}
                    <div class="product-item">
                       
                        <div class="pi-pic">
                            <img src="{{ i.image.url}}" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="far fa-heart"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Coat</div>
                            <a href="{% url 'principal:producto' i.id %}">
                                <h5>{{ i.nombre}}</h5>
                            </a>
                            <div class="product-price">
                                {{i.precio}}
                                
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %} 
                </div>
                
                    <div id="cartera" class="product-slider owl-carousel ropita">
                        {% for i in clotheCart %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                    </div>
                   
                    <div id="zapato" class="product-slider owl-carousel ropita">
                        {% for i in clotheZap %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                    </div>
                   
                    <div id="accesorio" class="product-slider owl-carousel ropita">
                        {% for i in clotheAcc %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                    </div>
                <a href="{% url 'principal:shop' %}">Todos los articulos</a>
            </div>
        </div>
    </div>
</section>
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter-control">
                    <ul>
                        <li id="HombreC" class="RopaH">Clothings</li>
                        <li id="carterajsH" class="bagH">HandBag</li>
                        <li id="zapasjsH" class="shoeH">Shoes</li>
                        <li id="accjsH" class="accesoryH">Accessories</li>
                    </ul>
                </div>
                <div id="ropaH" class="product-slider owl-carousel active">
                    {% for i in clotheH %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                </div>
                <div id="carteraH" class="product-slider owl-carousel ropita">
                    {% for i in clotheCartH %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                </div>
                <div id="zapatoH" class="product-slider owl-carousel ropita">
                    {% for i in clotheZapH %}
                    <div class="product-item">
                       
                        <div class="pi-pic">
                            <img src="{{ i.image.url}}" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="far fa-heart"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Coat</div>
                            <a href="{% url 'principal:producto' i.id %}">
                                <h5>{{ i.nombre}}</h5>
                            </a>
                            <div class="product-price">
                                {{i.precio}}
                                
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %} 
                </div>
                <div id="accesorioH" class="product-slider owl-carousel ropita">
                    {% for i in clotheAcc %}
                    <div class="product-item">
                       
                        <div class="pi-pic">
                            <img src="{{ i.image.url}}" alt="">
                            <div class="sale">Sale</div>
                            <div id="favorite" class="icon">
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Coat</div>
                            <a href="{% url 'principal:producto' i.id %}">
                                <h5>{{ i.nombre}}</h5>
                            </a>
                            <div class="product-price">
                                {{i.precio}}
                                
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %} 
                </div>
                 <a href="{% url 'principal:shopH' %}">Todos los articulos</a>
            </div>
            {% for i in asideHom %}
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="{{ i.image.url}}"> 
                    <h2>{{ i.nombre}}</h2>
                    <a href="#">{{i.frase}}</a>
                    <a href="{% url 'principal:cambiosAside' i.id %}"><i class="fas fa-pen"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
    <!-- Instagram Section Begin -->
    <div class="instagram-photo">
        <div class="insta-item set-bg" data-setbg="{% static 'img/insta-1.jpg' %}">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="{% static 'img/insta-2.jpg' %}">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="{% static 'img/insta-3.jpg' %}">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="{% static 'img/insta-4.jpg' %}">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="{% static 'img/insta-5.jpg' %}">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="{% static 'img/insta-6.jpg' %}">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
    </div>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="{% static 'img/latest-1.jpg' %}" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    May 4,2019
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    5
                                </div>
                            </div>
                            <a href="#">
                                <h4>The Best Street Style From London Fashion Week</h4>
                            </a>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="{% static 'img/latest-2.jpg' %}" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    May 4,2019
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    5
                                </div>
                            </div>
                            <a href="#">
                                <h4>Vogue's Ultimate Guide To Autumn/Winter 2019 Shoes</h4>
                            </a>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="{% static 'img/latest-3.jpg' %}" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    May 4,2019
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    5
                                </div>
                            </div>
                            <a href="#">
                                <h4>How To Brighten Your Wardrobe With A Dash Of Lime</h4>
                            </a>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'img/icon-1.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Free Shipping</h6>
                                <p>For all order over 99$</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'img/icon-2.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Delivery On Time</h6>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'img/icon-1.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Secure Payment</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
{% endblock body %}