{% extends 'inicio.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block body %}
<section class="hero-section">
    
    <div class="hero-items owl-carousel">
       
        {% for img in images %}
        <div class="single-hero-items set-bg" data-setbg="{{ img.image.url}}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>{{img.arts}}</span>
                        <h1>{{ img.name}}</h1>
                        <p>{{ img.description}}</p>

                        <!-- <a href="#" class="primary-btn">{{img.link}}</a> -->
                        
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>{{img.descuento}}%</span></h2>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
</section>
<div class="banner-section spad">
        
    <div class="container-fluid">
       
        <div class="row">
            {% for ban in banners %}
            <div class="col-lg-4">
                <div class="single-banner">
                    
                    <img src=" {{ ban.image.url}}" alt="">
                    
                    <div class="inner-text change">
                        <h4>{{ban.nombre}}’s</h4>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            {% for asides in aside %}
            <div class="col-lg-3">
                
                <div class="product-large set-bg" data-setbg="{{ asides.image.url }}">
                    <h2>{{ asides.nombre}}</h2>
                    <a href="#">{{asides.frase}}</a>
                </div>
               
            </div>
           
            {% endfor %}
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li id="ropajs" class="clothe active">Clothings</li>
                        <li id="carterajs" class="bag">HandBag</li>
                        <li id="zapasjs" class="shoe">Shoes</li>
                        <li id="accjs" class="accesory">Accessories</li>
                    </ul>
                </div>
               <form action="" id="form-fav" method="POST">

                {% csrf_token %}
                <div id="ropa" class="product-slider owl-carousel">
                    {% for i in clothe %}
                    <div class="product-item">
                       
                        <div class="pi-pic">
                            <img src="{{ i.image.url}}" alt="">
                            <div class="sale">Sale</div>
                            
                                
                                <div class="icon">
                                    <i id="likes" class="fav far fa-heart" data-type="favorito" data-id="{{i.id }}" data-action="marcador"></i>
                                </div>
                            
                           
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Coat</div>
                            <a href="{% url 'principal:producto' i.id %}">
                                <h5>{{ i.nombre}}</h5>
                            </a>
                            <div class="product-price">
                                {{i.precio}}
                                
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %} 
                </div>
               </form>
                
                
                    <div id="cartera" class="product-slider owl-carousel ropita">
                        {% for i in clotheCart %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                    </div>
                   
                    <div id="zapato" class="product-slider owl-carousel ropita">
                        {% for i in clotheZap %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                    </div>
                   
                    <div id="accesorio" class="product-slider owl-carousel ropita">
                        {% for i in clotheAcc %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                    </div>
                <a href="{% url 'principal:shop' %}">Todos los articulos</a>
            </div>
        </div>
    </div>
</section>
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter-control">
                    <ul>
                        <li id="HombreC" class="RopaH">Clothings</li>
                        <li id="carterajsH" class="bagH">HandBag</li>
                        <li id="zapasjsH" class="shoeH">Shoes</li>
                        <li id="accjsH" class="accesoryH">Accessories</li>
                    </ul>
                </div>
                <div id="ropaH" class="product-slider owl-carousel active">
                    {% for i in clotheH %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                </div>
                <div id="carteraH" class="product-slider owl-carousel ropita">
                    {% for i in clotheCartH %}
                        <div class="product-item">
                           
                            <div class="pi-pic">
                                <img src="{{ i.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="far fa-heart"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="{% url 'principal:producto' i.id %}">
                                    <h5>{{ i.nombre}}</h5>
                                </a>
                                <div class="product-price">
                                    {{i.precio}}
                                    
                                </div>
                            </div>
                            
                        </div>
                        {% endfor %} 
                </div>
                <div id="zapatoH" class="product-slider owl-carousel ropita">
                    {% for i in clotheZapH %}
                    <div class="product-item">
                       
                        <div class="pi-pic">
                            <img src="{{ i.image.url}}" alt="">
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="far fa-heart"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Coat</div>
                            <a href="{% url 'principal:producto' i.id %}">
                                <h5>{{ i.nombre}}</h5>
                            </a>
                            <div class="product-price">
                                {{i.precio}}
                                
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %} 
                </div>
                <div id="accesorioH" class="product-slider owl-carousel ropita">
                    {% for i in clotheAcc %}
                    <div class="product-item">
                       
                        <div class="pi-pic">
                            <img src="{{ i.image.url}}" alt="">
                            <div class="sale">Sale</div>
                            <div id="favorite" class="icon">
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">Coat</div>
                            <a href="{% url 'principal:producto' i.id %}">
                                <h5>{{ i.nombre}}</h5>
                            </a>
                            <div class="product-price">
                                {{i.precio}}
                                
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %} 
                </div>
                 <a href="{% url 'principal:shopH' %}">Todos los articulos</a>
            </div>
            {% for i in asideHom %}
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="{{ i.image.url}}"> 
                    <h2>{{ i.nombre}}</h2>
                    <a href="#">{{i.frase}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock body %}